@import "shared/variables.import.scss";
@import "shared/mixins.import.scss";

@import "{poetic:materialize-scss}/sass/components/_mixins.scss";
@import "{poetic:materialize-scss}/sass/components/_prefixer.scss";

// TRANSITION EVERYTIHNG
* { @include transition(all 175ms ease-in-out); }

@import "{poetic:materialize-scss}/sass/materialize.scss";
@import "footer.import.scss";

.btn-facebook {
  // TODO
  // @include button-variant($btn-facebook-color; $btn-facebook-bg; $btn-facebook-border);
}

// GAME OF LIFE
.game-of-life-wrapper {
  position: relative;
  margin-top: 2px;
  width: 100%;
  padding-bottom: 100%;
}

.game-of-life {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;

  .cell-row {
    @include clearfix();
    position: relative;
    display: block;
    clear: both;

    .cell {
      @include transition(none);
      display: block;
      position: relative;
      float: left;

      .size-50 & {
        width: 2%;
        padding-bottom: 2%;
      }

      .size-25 & {
        width: 4%;
        padding-bottom: 4%;
      }
    }
  }
}

// BEGIN MAIN
#main-content {
  // padding-top: $navbar-height; // needed if top navbar is fixed.
  max-width: 100%;
  overflow: hidden;
}

.overlay-container {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 1.0);

  .overlay-content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .container {
      max-height: 100%;
      overflow: auto;

      > .panel {
        margin: 0;
      }
    }
  }

  &.overlay-enter {
    @include transition(none);
    opacity: 0.01;

    .overlay-content {
      @include transition(none);
      @include scale(0);
    }

    &.overlay-enter-active {
      @include transition(all 0.5s cubic-bezier(.37,.12,0,1.46));
      opacity: 1;

      .overlay-content {
        @include transition(all 0.5s cubic-bezier(.37,.12,0,1.46));
        @include scale(1);
      }
    }
  }

  &.overlay-leave {
    @include transition(none);
    display: none;
  }
}

.countdown-overlay {
  .overlay-content {
    .container {
      position: absolute;
      left: 0;
      right: 0;

      > h1,
      > h2 {
        text-align: center;
        color: white;
        margin: 0;
      }

      > h1 {
        font-size: 230px;
      }

      .panel-body {
        text-align: center;
      }
    }
  }
}

.countdown-overlay,
.winner-overlay {
  @include transition(background 1s linear);

  .overlay-content {
    .container {
      @extend .col;
      @extend .m6;
      @extend .push-m3;
    }
  }
}

.game-container {
  > h1 {
    @include text-overflow();

    .mobile & {
      font-size: $h2-fontsize;
    }
  }
}

// PROGRESS BARS
.players-progress {
  position: relative;

  .player-progress,
  .opponent-progress {
    display: block;
    position: relative;
    font-size: 18px;
    height: 24px;
  }

  .player-icon-container,
  .opponent-icon-container {
    display: block;
    @include full-absolute();
    text-align: center;

    .emoji-wrapper {
      position: absolute;
      @include transition((left .6s ease, right .6s ease));
    }
  }
}

.game {
  .input-group {
    width: 100%;

    .game-input {
      text-align: center;
    }
  }

  .game-words-container {
    $line-height: 42px;

    @include clearfix();
    @include box-shadow(inset 1px 2px 2px $input-border-color);
    padding: 3px;
    position: relative;
    font-size: 18px;
    border-top: 1px solid $input-border-color;

    max-height: $line-height * 6;
    overflow: auto;

    .mobile & {
      max-height: $line-height * 3;
      overflow: hidden;
    }

    .game-word {
      float: left;
      padding: 0 0.3ex;
      margin-right: 0.3ex;
      margin-bottom: 0.9em;
      color: color("grey", "darken-1");
      border: 1px solid transparent;
      border-radius: 3px;

      &.valid {
        color: color("green", "base");
      }

      &.invalid {
        color: color("red", "darken-1");
      }

      &.active {
        color: color("grey", "darken-2");
        border-color: color("grey", "lighten-2");

        &.valid {
          color: color("green", "base");
        }

        &.invalid {
          color: color("amber", "darken-1");
        }
      }

      &.game-word-enter {
        opacity: 0.01;
        @include transition(opacity 250ms ease-in);

        &.game-word-enter-active {
          opacity: 1;
        }
      }
    }
  }
}

.game-stats-table {
  td,
  th {
    &.winner {
      background-color: color("green", "darken-2");
    }
  }

  td.my-stats {
    font-weight: bold;
  }
}

// mobile
@media (max-width: $small-screen) {

}
