@import "custom.bootstrap.import.less";
@import "custom.bootstrap.mixins.import.less";
@import "mixins.import.less";

// TRANSITION EVERYTIHNG
* { .transition(all 50ms ease-in-out); }

.btn-facebook {
  .button-variant(@btn-facebook-color; @btn-facebook-bg; @btn-facebook-border);
}

// BEGIN MAIN
#main-content {
  padding-top: @navbar-height;
  padding-bottom: @navbar-height;
}

.game {
  .input-group {
    width: 100%;

    #game-input {
      text-align: center;
    }
  }

  .game-words-container {
    .clearfix();

    font-size: 18px;
    max-height: 9em;
    overflow: auto;

    .game-word {
      float: left;
      padding: 0 0.3ex;
      margin-right: 0.3ex;
      margin-bottom: 0.9em;
      color: @gray;
      border: 1px solid transparent;
      border-radius: 3px;

      &.valid {
        color: @brand-success;
      }

      &.invalid {
        color: @brand-danger;
      }

      &.active {
        color: @text-color;
        border-color: @text-color;

        &.valid {
          color: @brand-success;
        }

        &.invalid {
          color: @brand-warning;
        }
      }
    }
  }
}
