@import "custom.bootstrap.import.less";
@import "mixins.import.less";
@import "footer.import.less";

// TRANSITION EVERYTIHNG
* { .transition(all 175ms ease-in-out); }

.btn-facebook {
  .button-variant(@btn-facebook-color; @btn-facebook-bg; @btn-facebook-border);
}

// GAME OF LIFE
.game-of-life-wrapper {
  position: relative;
  margin-top: 2px;
  width: 100%;
  padding-bottom: 100%;
}

.game-of-life {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;

  .cell-row {
    .clearfix();
    position: relative;
    display: block;
    clear: both;

    .cell {
      .transition(none);
      display: block;
      position: relative;
      float: left;

      .size-50 & {
        width: 2%;
        padding-bottom: 2%;
      }

      .size-25 & {
        width: 4%;
        padding-bottom: 4%;
      }
    }
  }
}

// BEGIN MAIN
#main-content {
  padding-top: @navbar-height;
}

.overlay-container {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 1.0);

  .overlay-content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .container {
      max-height: 100%;
      overflow: auto;

      > .panel {
        margin: 0;
      }
    }
  }

  &.overlay-enter {
    .transition(none);
    opacity: 0.01;

    .overlay-content {
      .transition(none);
      .scale(0);
    }

    &.overlay-enter-active {
      .transition(all 0.5s cubic-bezier(.37,.12,0,1.46));
      opacity: 1;

      .overlay-content {
        .transition(all 0.5s cubic-bezier(.37,.12,0,1.46));
        .scale(1);
      }
    }
  }

  &.overlay-leave {
    .transition(none);
    display: none;
  }
}

.countdown-overlay {
  .overlay-content {
    .container {
      position: absolute;
      left: 0;
      right: 0;

      > h1,
      > h2 {
        text-align: center;
        color: white;
        margin: 0;
      }

      > h1 {
        font-size: 230px;
      }

      .panel-body {
        text-align: center;
      }
    }
  }
}

.countdown-overlay,
.winner-overlay {
  .transition(background 1s linear);

  .overlay-content {
    .container {
      .make-md-column(6);
      .make-md-column-offset(3);
    }
  }
}

.game-container {
  > h1 {
    .text-overflow();

    .mobile & {
      font-size: @font-size-h2;
    }
  }
}

// PROGRESS BARS
.progress {
  position: relative;

  .player-progress,
  .opponent-progress {
  }

  .player-progress {
    // Flip horizontal so the stripes face right.
    .scaleX(-1);
  }

  .opponent-progress {
  }

  .player-icon-container,
  .opponent-icon-container {
    display: block;
    .full-absolute();
    text-align: center;

    .emoji-wrapper {
      position: absolute;
      .transition(~"left .6s ease, right .6s ease");
    }
  }

  .player-icon-container {
    left: @line-height-computed;

    .emoji-wrapper {
      margin-left: -@line-height-computed;
    }
  }

  .opponent-icon-container {
    right: @line-height-computed;

    .emoji-wrapper {
      margin-right: -@line-height-computed;
    }
  }

  &.dual-progress {
    .center-indicator {
      border-right: 1px solid @input-border;
      position: absolute;
      left: 50%;
      right: 50%;
      top: 0;
      bottom: 0;
    }

    .player-icon-container,
    .opponent-icon-container {
      width: 50%;
    }

    .player-icon-container {
      right: 50%;
    }

    .opponent-icon-container {
      left: 50%;
    }
  }
}

.game {
  .input-group {
    width: 100%;

    .game-input {
      text-align: center;
    }
  }

  .game-words-container {
    @line-height: 42px;

    .clearfix();
    .box-shadow(inset 1px 2px 2px @well-border);
    padding: 3px;
    position: relative;
    font-size: 18px;
    border-top: 1px solid @well-border;

    max-height: @line-height * 6;
    overflow: auto;

    .mobile & {
      max-height: @line-height * 3;
      overflow: hidden;
    }

    .game-word {
      float: left;
      padding: 0 0.3ex;
      margin-right: 0.3ex;
      margin-bottom: 0.9em;
      color: @gray;
      border: 1px solid transparent;
      border-radius: 3px;

      &.valid {
        color: @brand-success;
      }

      &.invalid {
        color: @brand-danger;
      }

      &.active {
        color: @text-color;
        border-color: @text-color;

        &.valid {
          color: @brand-success;
        }

        &.invalid {
          color: @brand-warning;
        }
      }

      &.game-word-enter {
        opacity: 0.01;
        .transition(opacity 250ms ease-in);

        &.game-word-enter-active {
          opacity: 1;
        }
      }
    }
  }
}

.game-stats-table {
  td,
  th {
    &.winner {
      background-color: @state-success-bg;
    }
  }

  td.my-stats {
    font-weight: bold;
  }
}

// mobile
@media (max-width: @screen-sm) {

}
