.side-nav {

  .side-nav-profile {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    text-align: center;

    .side-nav-greeting {

    }

    .side-nav-image {
      font-size: 36px;
    }
  }

}
